// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

$primary: #61451d;

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    font-family: 'Nunito';
    font-size: 18px;
}
/* make primary button bold */
.btn-primary {
    color: #fff;
    // font-weight: bold;
}

@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';